  <div class="mb-4">
    <div class="font-bold">Name:</div>
    <div><%= product.name %></div>
  </div>

  <div class="mb-4">
    <div class="font-bold">Description:</div>
    <div><%= product.description %></div>
  </div>

  <div class="mb-4">
    <div class="font-bold">Price subunit:</div>
    <div><%= product.price_subunit %></div>
  </div>

  <div class="mb-4">
    <div class="font-bold">Price currency:</div>
    <div><%= product.price_currency %></div>
  </div>
