<div class="container max-width">
  <div class="grid grid-cols-2 mb-4">
    <div class="text-2xl font-bold">Edit Products</div>
  </div>

  <div class="block max-w p-6 bg-white border border-gray-200 rounded-lg shadow-md mb-4">
    <%= render "form", product: @product %>
  </div>
</div>

